<div class="p-5 max-w-screen h-full bg-gray-100 rounded-tl-4xl relative overflow-x-hidden overflow-y-auto flex-col flex">
    <div data-event="<%= JSON.stringify(events) %>" id="calendar" class="w-full h-full">

    </div>
</div>