<!-- form -->
<div id="editrecordformparent" class="z-20 hidden backdrop-brightness-80 backdrop-blur-sm fixed w-full h-full items-center justify-center">
    <form id="editrecordform" class="w-[500px] bg-white rounded-3xl p-6">
        <div class="flex flex-row items-center justify-between mb-4">
            <div class="flex flex-row gap-2 items-center justify-start">
                <svg class="shrink-0 w-6 h-6 text-black transition duration-75 group-hover:text-gray-900" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224 64C206.3 64 192 78.3 192 96L192 128L160 128C124.7 128 96 156.7 96 192L96 240L544 240L544 192C544 156.7 515.3 128 480 128L448 128L448 96C448 78.3 433.7 64 416 64C398.3 64 384 78.3 384 96L384 128L256 128L256 96C256 78.3 241.7 64 224 64zM96 288L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 288L96 288z"/></svg>
                <p class="text-black font-semibold text-xl">Edit record</p>
            </div>
            
            <svg id="closeeditrecordform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-10 h-10 mr-4 p-3 text-black hover:bg-gray-300 rounded-xl cursor-pointer" fill="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
        </div>


        <div class="w-full hidden">
            <label for="record_id" class="block mb-2 text-xs font-medium text-gray-900">Record ID</label>
            <input name="record_id" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00" required/>
        </div>
        <div class="w-full hidden">
            <label for="employee_id" class="block mb-2 text-xs font-medium text-gray-900">Record ID</label>
            <input name="employee_id" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00" required/>
        </div>
        <p class="text-sm font-semibold text-gray-700">Morning</p>
        <div class="flex flex-row gap-4 w-full">
            <div class="w-full">
                <label for="morning_timein" class="block mb-2 text-xs font-medium text-gray-900">Time In</label>
                <input name="morning_timein" step="1" type="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00"/>
            </div>
            <div class="w-full">
                <label for="morning_timeout" class="block mb-2 text-xs font-medium text-gray-900">Time Out</label>
                <input name="morning_timeout" step="1" type="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00"/>
            </div>
        </div>
        
        <p class="text-sm font-semibold text-gray-700 mt-4">Afternoon</p>
        <div class="flex flex-row gap-4 w-full">
            <div class="w-full">
                <label for="afternoon_timein" class="block mb-2 text-xs font-medium text-gray-900">Time In</label>
                <input name="afternoon_timein" step="1" type="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00"/>
            </div>
            <div class="w-full">
                <label for="afternoon_timeout" class="block mb-2 text-xs font-medium text-gray-900">Time Out</label>
                <input name="afternoon_timeout" step="1" type="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5" placeholder="08:00"/>
            </div>
        </div>
        
        <div class="flex flex-row w-full mt-4">
            <button type="submit" class="w-full text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center justify-center">
                Submit
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
        </div>
        
    </form>
</div>